#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-size: larger;
}

input {
  font-size: medium;
  width: 70%;
  padding: 10px;
}

.card {
  padding: 2em;
}

.display-amount {
  font-weight: bold;
  font-size: 2.5em;
}